.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .search{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        padding: 1rem;
    }

    .users{
        width: 100%;
        height: 75%;
        border: 1px solid;
        padding: 1rem;
    }

    .pages{
        width: 100%;
        height: 10%;
    }
}