.users-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .users{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0.5rem;
        gap: 0.5rem;

        &.inactive{
            filter: blur(5px);
        }
    }

    .profile-card{
        position: absolute;
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 1rem;
        z-index: 999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        button{
            width: 20%;
            height: 10%;
        }

        .profile{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .avatar{
                width: 70px;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid;
                }
            }

            .details{
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }

    }
}